<footer class="footer">
    <div class="footer-topbar">
        <div class="footer-wrap">
            <div class="footer-links-social social_box">
                <a title="Facebook canercay" href="{[{ globals.site_config.facebook }]}" target="_blank"
                   class="i-facebook"></a>
                <a title="Twitter canercay" href="{[{ globals.site_config.twitter }]}" target="_blank"
                   class="i-twitter"></a>
                <a title="youtube" href="{[{ globals.site_config.youtube }]}" target="_blank"
                   class="i-youtube"></a>
                <a title="linkidin" href="{[{ globals.site_config.linkedin }]}"
                   target="_blank" class="i-linkedin"></a>
                <a title="github" href="{[{ globals.site_config.github }]}"
                   target="_blank" class="i-github"></a>
            </div>
            <div id="footer-menu" class="footer-menu" style="display: block;">
                <a title="Sobre Mi" href="#/">Blog</a>
                <a title="Contacto" href="#/about/">Hakkımda</a>
                <a title="Servicios" href="#/contact/">Bana Ulaş</a>
            </div>
        </div>
    </div>
    <div class="footer-bottombar">
        <div class="footer-wrap">
            <div class="footer-copy">{[{ globals.site_config.site_url }]} © 2016</div>
            <div class="footer-design-author">
            </div>
        </div>
    </div>
</footer>